.Forecast24 {
    width: 95%;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 15px;
    vertical-align: middle;
}
.Forecast24 ul {
    width: 100%;
    display: flex;
    padding-left: 0;
    margin-top: -20px;
}
.Forecast24 li {
    padding: 6px;
}
.Forecast24 li :last-child {
    width: 45px;
}

@media screen and (max-width: 413px ) {
    .Forecast24 li {
        padding: 3px;
        font-size: 15px;
    }
}
@media screen and (min-width: 527px ) {
    .Forecast24 li{
        padding: 3%;
        font-size: 25px;
    }    
}
@media screen and (min-width: 1300px ) {
    .Forecast24 li{
        font-size: 25px;
        padding-right: 60px;
    } 
    .Forecast24 {
        padding-left: 13%;
    }   
}
